body {
	font-family: $ffBase;
	font-size: $fzBase;
	line-height: ($lhBase/$fzBase);
	color: $colorPrimary;
	background-color: white;
}

.contentwrap {
	max-width: em($dContentWidth);
	margin: 0 auto;
}

.section {
	padding-bottom: 30px;
}

.copywrap {
	max-width: em($dLineLength);
}

p {
	margin-bottom: 15px;
}

.table {
	border: 1px solid $colorQuaternary;
	table-layout: fixed;
	margin-bottom: em(30);
	max-width: 100%;

	thead {
		background-color: $colorTertiary;
		color: white;
	}

	tr {
		border-bottom: em(1) solid $colorQuaternary;
	}

	td {
		vertical-align: middle;
		padding: em(10) em(20);
	}
}